html, body{
    margin: 0;

    background-image: url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;

    display: flex;
    flex: none;
    flex-direction: column;

    /*
    https://softauthor.com/css-make-background-image-full-screen/
    instructions on how to set bg image
    */
}


.title {
    font-family: 'Electrolize', 'Avenir', 'Arial', sans-serif;
    color: rgb(203, 6, 203);
    margin: 0;
    display: flex;
    flex: none;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 64px;
    min-width: 605px;

}

.rock, .paper, .scissors {
    height: 100px;
}

.buttons {
    display: flex;
    flex: none;
    justify-content: space-evenly;
    padding-bottom: 50px;
    visibility: hidden;
}

.round-result, .score-board, .winner {
    display: flex;
    flex: none;
    justify-content: center;
    font-family: 'Electrolize', 'Avenir', 'Arial', sans-serif;
    font-size: 32px;
    color: rgb(35, 9, 94);
    visibility: hidden;
}

.options {
    display: flex;
    justify-content: space-evenly;
    padding: 125px 0;
}

.play-button, .reset-button {
    background-color: transparent;
    font-family: 'Electrolize', 'Avenir', 'Arial', sans-serif;
    padding: 15px 30px;
    font-size: 25px;
    border-radius: 15%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(35, 9, 94);
    color: rgb(35, 9, 94);
    transition-duration: 0.4s;
}

.play-button:hover, .reset-button:hover {
    color: blueviolet;
    background-color: rgba(245, 245, 245, 0.65);
}